body {
  font-family: 'Roboto', sans-serif;
  background: #F2F1ED;
}

.container {
  background-color: #44C9F6;
  padding: 20px;
}

.container img {
  width: 100%;
}

.intro {
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 20px;
  padding: 15px;
}

.intro h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #F25924;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.form-questions {
  margin: 20px;
  border: 2px dashed black;
  padding: 15px;
}

.btn-success {
  margin-top: 20px;
}

.btn-danger {
  margin-top: 20px;
}

#results {
  margin: 20px;
  border: 2px solid black;
  padding: 15px;
}

#results {
  display: none;
  border: 2px dashed black;
}