body {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #F2E9DE;
  padding: 20px;
}

.intro {
  /* text-align: center;
  border: 2px solid black; */
  margin: 20px;
  padding: 15px;
  border: 2px solid black;
}

.intro h1 {
  font-family: 'Roboto', sans-serif;
  color: #ED9121;
  font-weight: 900;
}

.form-questions {
  margin: 20px;
  border: 2px dashed black;
  padding: 15px;
}

.btn-success {
  margin-top: 20px;
}

.btn-danger {
  margin-top: 20px;
}

#results {
  margin: 20px;
  border: 2px solid black;
  padding: 15px;
}

#results {
  display: none;
  border: 2px dashed black;
}